body{
    background: #ffffff;
    color:#3a3a3a;
    font-size: 12px;
    margin: 80px auto;
    max-width: 900px;
    padding:0 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);    
}
a {
    color: #2a7ae2;
    text-decoration: none;
}

a:hover {
    color: #111;
    text-decoration: underline;
}
.pubs a {
    text-transform: lowercase;
    font-variant: small-caps;
    border: 1pt solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    /* border-radius: 4pt; */
    padding-left: 2pt;
    padding-right: 2pt;
    padding-bottom: 1pt;
    margin-right: .25em;
    font-size: 1em;

}
.pubs a:hover {
    text-decoration: none;
}

h1,h2,h3 {
    line-height:1.5;
}
.collection-url, h1,h2,h3,h4,h5,h6 {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif
}
p, li {
    font-size: 0.95rem;
    line-height: 1.5;
}
#table-of-contents, [class^=section-number-] {
    display: none;
}
h1,h2,h3,h4,h5,h6 {
    line-height:1;
    color:#3A3A3A;
    margin-top:2.5rem;
    margin-bottom:1.5rem
}
h3,h4,h5,h6 {
    font-weight:200;
    color:rgba(0,0,0,.45)
}
h1 {
    font-size:2.5rem
}
h2 {
    font-size:2.0rem
}
h3 {
    font-size:1.3rem
}
h4 {
    font-size:1.2rem
}
h5 {
    font-size:1.0rem
}
h6 {
    font-size:1.0rem
}
img, table {
    border: 0
}
table {
    border: 1px solid;
}
#postamble {
    margin-top: 60px;
    padding-top:2rem;
    padding-bottom:2rem;
    border-top:2px solid rgba(0,0,0,.045)
}
#postamble p {
    font-size:.95rem;
    padding-left:1.35rem;
    margin-bottom:.25rem
}
.collection {
    border-bottom:1px solid rgba(0,0,0,.05);
    padding-bottom:2rem
}
.collection-url {
    color:rgba(0,0,0,.45);
    -webkit-font-smoothing:antialiased;
    position:relative;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.content {
    max-width: 800px !important;
}
.collection-avatar {
    display: none !important;
}
.collection {
    padding-bottom: 1rem;
}

.collection-url{
    font-weight: bold;
}
.title{
    text-align: left;
    display: none;
}
.validation {
    display: none;
}
dd, dt {
    margin-top: 10px;
    line-height: 1.5rem;
}
td, th {
    text-align: center !important
}
